# Ignore virtual environments
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore system files
.DS_Store
