{% extends "base.html" %}

{% block title %} GameCap.ai - Games {% endblock %}

{% block content %}
<body class="text-center">
    <div>
        <h1 class="display-5">Games</h1>
        <p><i class="bi bi-calendar3"></i> {{ game_date }}</p>
        <a class="icon-link icon-link-hover mb-5" href="/">
            <i class="bi bi-arrow-left" aria-hidden="true"></i>
            Back to Home
        </a>
    </div>
    <div class="container d-flex justify-content-center align-items-center text-center">
        <div class="bd-content w-75">
            {% if games %}
                {% for game in games %}
                    <div class="card bg-dark text-white mb-3">
                        <div class="card-header">
                            <small> NBA </small>
                        </div>
                        <div class="card-body">
                            <img src="{{ game['away_team_logo'] }}" alt="{{ game['away_team'] }} Logo" class="img-fluid rounded float-start" style="height: 100px;">
                            <img src="{{ game['home_team_logo'] }}" alt="{{ game['home_team'] }} Logo" class="img-fluid rounded float-end" style="height: 100px;">
                            <p class="mb-1 fs-4"> {{ game['away_team'] }} @ {{ game['home_team'] }} </p>
                            <p class="mb-1 fs-4"> {{ game['away_score']}} - {{ game['home_score'] }} </p>
                            <small> {{ game['game_status'] }} </small>
                        </div>
                        <div class="container mb-3">
                            <!-- Generate Button -->
                            <a href="/boxscore/{{ game['game_id'] }}?action=summarize&game_date={{ game_date }}" class="btn btn-primary" onclick="showSpinner()">Summarize</a>
                            <!-- Spinner (initially hidden) -->
                            <div class="d-flex justify-content-center">
                                <div id="loadingSpinner" class="spinner-border mt-3" aria-hidden="true" role="status" style="display: none;">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No games found for this date.</p>
            {% endif %}
        </div>
    </div>
</body>

<script>
    function showSpinner() {
        const spinner = document.getElementById('loadingSpinner');
        if (spinner) {
            spinner.style.display = 'block';
        }
    }
</script>

{% endblock %}
