{% extends "base.html" %}

{% block title %}Home - Recap.ai{% endblock %}

{% block content %}
<body>
    <div class="container-fluid text-center">
        <h1 class="mb-5 display-2">
            <i class="bi bi-chat-square-text-fill"></i> GameCap.ai
        </h1>
        <h3 class="mb-5 display-6">Get AI generated summaries of the NBA games you missed including highlights, top performers, exciting moments, and more with GameCap.ai</h3>
        <h1>Find Games</h1>
        <!-- Date Picker Form -->
        <form action="/games" method="get">
            <label for="game_date">Select a date:</label>
            <input type="date" id="game_date" name="game_date" required>
            <button class="btn btn-primary" type="submit">View Games</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
{% endblock %}
